<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AppraisalDbContext" connectionString="metadata=res://*/AppraisalModel.csdl|res://*/AppraisalModel.ssdl|res://*/AppraisalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.247\APPRAISAL;Initial catalog=DB_A1A4D2_Appraisal;user id=sa; password= admin123+_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=`192.168.10.247\APPRAISAL;Initial Catalog=DB_A1A4D2_Appraisal;user id=sa; password= admin123+_;" providerName="System.Data.SqlClient"/>-->
    <add name="AppraisalDbContext" connectionString="metadata=res://*/AppraisalModel.csdl|res://*/AppraisalModel.ssdl|res://*/AppraisalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MASUD-PC;Initial catalog=Appraisal;Integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=MASUD-PC;Initial catalog=Appraisal;Integrated security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>